.headerContainer {
    width: 100%;
    height: auto;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 1rem;
    background-color: #282c34;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #61dafb;
}

.headerNav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    background-color: #282c34;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.headerNav ul li {
    list-style-type: none;
}